
<script type="text/javascript">
    function selectsystem() {
        var select_val = $("#selectsystem_id").val();
        $("#oa_menu").css('display', 'none');
        $("#sys_menu").css('display', 'none');
        $("#edu_menu").css('display', 'none');
        if (select_val == 'sys') {
            $("#sys_menu").css('display', 'block');
        }
        if (select_val == 'oa') {
            $("#oa_menu").css('display', 'block');
        }
        if (select_val == 'edu') {
            $("#edu_menu").css('display', 'block');
        }
    }
</script>
<div class="closeLeftNav" id="closeLeftNav">
	<i class="fa fa-bars"></i>
</div>
<div class="layui-left-box">
	<div class="navBar layui-side-scroll" >
		<ul class="layui-nav layui-nav-tree">
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="fa  fa-cogs"></i>
					<cite>系统基础管理</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/role/index.html">
							<i class="fa fa-circle-o"></i>
							<cite>角色管理</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/res/index.html">
							<i class="fa fa-circle-o"></i>
							<cite>菜单管理</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/user/index.html">
							<i class="fa fa-user"></i>
							<cite>用户管理</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/social/index.html">
							<i class="fa fa-user"></i>
							<cite>社交管理</cite>
						</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="fa  fa-wrench"></i>
					<cite>开发工具</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/gen-code/index.html">
							<i class="fa fa-circle-o"></i>
							<cite>代码生成</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/swagger-ui.html">
							<i class="fa fa-circle-o"></i>
							<cite>API文档</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/social/qrcode.html">
							<i class="fa fa-circle-o"></i>
							<cite>二维码</cite>
						</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="fa fa-file-image-o"></i>
					<cite>OSS管理</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/oss/index.html">
							<i class="fa fa-circle-o"></i>
							<cite>OSS存储桶资源</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/oss/config/index.html">
							<i class="fa fa-circle-o"></i>
							<cite>OSS存储桶配置</cite>
						</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="fa fa-tasks"></i>
					<cite>任务管理</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/schedule/task.html">
							<i class="fa fa-circle-o"></i>
							<cite>定时任务</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/schedule/log.html">
							<i class="fa fa-circle-o"></i>
							<cite>定时任务日志</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/schedule/email/index.html">
							<i class="fa fa-circle-o"></i>
							<cite>定时邮件发送</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/schedule/email/list.html">
							<i class="fa fa-circle-o"></i>
							<cite>定时邮件管理</cite>
						</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="fa fa-television"></i>
					<cite>工作流管理</cite>
					<span class="layui-nav-more"></span>
				</a>
			</li>
			<span class="layui-nav-bar" style="top: 157.5px; height: 0px; opacity: 0;"></span>
		</ul>
	</div>
</div>